<div class="dialog">
    <h2 mat-dialog-title>Cambiar Contraseña</h2>
    <mat-dialog-content>
        <form formGroup="form">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contraseña actual</mat-label>
                <input matInput type="password" formControlName="oldPassword" required>
                @if (form.get('oldPassword')?.hasError('required')) {
                <mat-error>
                    La contraseña actual es requerida
                </mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput type="password" formControlName="newPassword" required>
                @if (form.get('newPassword')?.hasError('required')) {
                <mat-error>
                    La nueva contraseña es requerida
                </mat-error>
                } @else if (form.get('newPassword')?.hasError('minlength')) {
                <mat-error>
                    Mínimo 6 caracteres
                </mat-error>
                }
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">Guardar</button>
    </mat-dialog-actions>
</div>