* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFBF8;
}

h1, h2, h3, h4, h5, p, label, a, span, ul, li, small{
    color: #542D0C;
}

input {
    border-color: #CE9667;
}

section {
    background-color: #CE9667;
}