<!-- Back Arrow Icon -->
<div class="back-arrow">
  <a href="/home">
    <img src="assets/img/icons/arrow-icon.svg" alt="Back to Home" class="arrow-icon" />
  </a>
</div>

<!-- Add Ingredient Button -->
<div class="container inventory-container">
  <div class="d-flex justify-content-end mb-4">
    <button class="btn btn-primary" (click)="openAddInventoryDialog()">Añadir Ingrediente</button>
  </div>

  <!-- Inventory List -->
  <div class="row">
    @for (item of inventoryItems; track $index) {
    <div class="col-12">
      <div class="card inventory-card mb-3">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div class="ingredient-details">
            <h5 class="card-title mb-1">{{ item.ingredient?.name }}</h5>
            <!-- In development: Pipe for unitOfMeasure -->
            <p class="card-text mb-0">x{{ item.quantity }} {{ item.ingredient?.unitOfMeasure }}</p>
          </div>
          <div class="d-flex gap-2">
            <button class="btn btn-outline-secondary btn-icon" (click)="openEditInventoryDialog(item)">
              <img src="assets/img/icons/edit-icon.svg" alt="Edit Ingredient" class="icon" />
            </button>
            <button class="btn btn-outline-danger btn-icon" (click)="deleteInventoryItem(item.id)">
              <img src="assets/img/icons/trash-icon.svg" alt="Delete Ingredient" class="icon" />
            </button>
          </div>
        </div>
      </div>
    </div>
    }

  <!-- Empty State -->
  @if (inventoryItems.length === 0) {
  <div class="alert alert-danger text-center" role="alert">
    <p>No hay ingredientes en tu despensa.</p>
  </div>
  }

</div>